body {
  margin: 0;
}



.Navbar {
  background: #515f7d;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

.Navbar li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.AlbumCard {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}


.my-nav-link {
  color: white;
  padding: 10px;
}

.my-log-out {
  color: blue;
  padding: 10px;
  margin: 0px 0px 0px 20px;
}
